/* About.css */

.container {
    padding: 20px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .paragraph {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  